:root {
  --step: 8px;

  --base-color: #ffffff;
  --primary-color: #000000;
  --second-color: #2F54EB;
  --neutral-color: #222222;
  --ligth-neutral-color: #646464;
  --accent-color: #FA8C16;
  --access-color: #52C41A;

  --form-control-background: #F5F6FE;

  --transition-all: all 0.4s;

  --h1-font-size: 23px;
  --h2-font-size: 23px;
  --h3-font-size: 23px;
  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-smalled: 12px;
  --font-size-smallest: 14px;
  --font-size-tiny: 9px;

  --logo-width: 166px;
  --header-padding: 8px 0 8px;
  --hero-block-padding-top: 24px;
  --hero-block-padding-bottom: 52px;
  --hero-block-img-wrapper-radius: 8px;
  --hero-block-title-margin-bottom: 16px;
  --hero-block-badge-img-width: 23px;
  --section-margin-bottom: 24px;
  --section-form-padding: 24px 24px 48px;
  --section-form-title-margin: 0 0 16px;
  --form-block-padding: 24px 16px;
  --form-block-centring-width: 100%;
  --footer-padding: 24px 0 30px;
  --navigation-item-margin: 0 0 16px;

  --badge-padding: 10px 10px;
  --button-padding: 16px 24px;
  --form-control-input-margin-top: 8px;
  --radio-img-width: 40px;
  --radio-img-margin: 0 16px 0 0;
  --radio-label-padding: 16px 24px;
  --radio-label-border-radius: 8px;

  --modal-header-height: 56px;
  --modal-button-close-right: 17px;
  --form-section-padding: 24px 16px 0;
  --form-section-form-max-width: 100%;
  --form-section-form-button-margin-top: 16px;

  @media (min-width: 992px) {
    --h1-font-size: 35px;
    --h2-font-size: 25px;
    --h3-font-size: 23px;
    --font-size: 16px;
    --font-size-small: 14px;
    --font-size-smalled: 12px;
    --font-size-smallest: 12px;
    --font-size-tiny: 10px;

    --logo-width: 206px;
    --header-padding: 16px 0 16px;
    --hero-block-padding-top: 50px;
    --hero-block-padding-bottom: 100px;
    --hero-block-img-wrapper-radius: 16px;
    --hero-block-title-margin-bottom: 32px;
    --hero-block-badge-img-width: 32px;
    --section-margin-bottom: 48px;
    --section-form-padding: 64px 94px 94px;
    --section-form-title-margin: 16px 0 32px;
    --form-block-padding: 48px 0;
    --form-block-centring-width: 320px;
    --footer-padding: 24px 0 61px;
    --navigation-item-margin: 0 16px;

    --badge-padding: 10px 10px;
    --button-padding: 16px 24px;
    --form-control-input-margin-top: 16px;
    --radio-img-width: 56px;
    --radio-img-margin: 0 0 16px;
    --radio-label-padding: 24px 56px;
    --radio-label-border-radius: 16px;

    --modal-header-height: 72px;
    --modal-button-close-right: 40px;
    --form-section-padding: 96px 0 0;
    --form-section-form-max-width: 250px;
    --form-section-form-button-margin-top: 24px;
  }
}
