:root {
  --base-value-step: 6px;

  --font-size-base: 2.8rem;
  --label-font-size: 2.4rem;

  --btn-height: 45px;
  --form-control-input-height: 60px;

  --label-transform: translateY(-6px) translateX(0);

  --transition: all ease-in 200ms;

  @media screen and (min-width: 768px) {
    --base-value-step: 8px;

    --font-size-base: 2.5rem;
    --label-font-size: 2rem;

    --btn-height: 50px;
    --form-control-input-height: 70px;

    --label-transform: translateY(-14px) translateX(0);

  }
}